@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-text: #f8f8f8;
    --dark-text: #1c1c1c;
}

@keyframes grow {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@layer base {
    ::-webkit-scrollbar {
        width: 3px;
    }
    ::-webkit-scrollbar-track {
        background: theme('colors.gray.200');
        border-radius: 0.5rem;
    }
    ::-webkit-scrollbar-thumb {
        background: theme('colors.gray.500');
    }
    ::-webkit-scrollbar-thumb:hover {
        background: theme('colors.gray.700');
    }
}
